---
import BaseLayout from '@/layouts/BaseLayout.astro';
---

<BaseLayout title="Conclusions" description="Video Showcase of the App">
  <div class="mt-8 px-8 text-center">
    <h1 class="text-4xl font-extrabold tracking-tight lg:text-5xl mb-8">Conclusions</h1>
  </div>
  <div class="mt-8 px-8 text-left flex justify-center">
    <div class="max-w-2xl">
      <p class="mb-4">
        The journey of developing our HealthTrack application has been a remarkable and eye-opening experience, one that spanned over almost 3 months of intensive work and collaboration. From the initial brainstorming sessions where ideas of how our foundation for the application should be, to the intensive design and execution phases, every step has been a testament to the creativity and dedication of our team. The coding process itself was filled with both challenges and breakthroughs, as we navigated technical obstacles by figuring out the most suitable implementation from what we had learned throughout CS2340 and continuously iterated on our solutions to enhance functionality and user experience. It was a period marked by long hours, spirited discussions, and a relentless pursuit of excellence, all driven by a shared vision of creating something truly outstanding.
      </p>
      <p class="mb-4">
        This was a great experience that not only provided us with such a professional environment, but also teaches us how to collaborate efficiently and effectively to yield desired results within a short time span. Our group consisted of 6 ambitious and highly driven individuals: Alex Wang, Christian Chin, Brian Chen, Eric Shao, Richard Kozyak, Khoa Bui. Together we had worked relentlessly on this project throughout the course of fifty days to deliver the final product that is displayed on this website. We were on rotation for different responsibilities for different aspects of the application in every sprint, from programming the functionalities for the app, polishing user interface, connecting to firebase for realtime data storage, to creating UML diagrams for visual breakdown of the application. 
      </p>
      <p class="mb-4">
        As we bring this project to a close, it’s rewarding to reflect on the progress we’ve made and the lessons learned along the way. Moreover, the collaborative spirit and open communication within the team proved invaluable in overcoming setbacks and maintaining momentum. This journey has not only resulted in a polished application but has also strengthened and reinforced our skills and knowledge, setting a solid foundation for projects to come. While this chapter ends, the knowledge and experiences we picked up from this journey are invaluable resources that will be the stepping stones on our journey and career path.
      </p>
    </div>
  </div>
</BaseLayout>
