---
import BaseLayout from '@/layouts/BaseLayout.astro';
---

<BaseLayout title="Design & Architecture" description="Video Showcase of the App">
  <div class="mt-8 px-8 text-center">
    <h1 class="text-4xl font-extrabold tracking-tight lg:text-5xl mb-8">Design & Architecture</h1>
    <div class="flex justify-center">
        Text goes here

      </div>
  </div>
</BaseLayout>
