---
import BaseLayout from '@/layouts/BaseLayout.astro';
import { YouTube } from 'astro-embed';
---

<BaseLayout title="Functionality" description="Video Showcase of the App">
  <div class="mt-8 px-8 text-center">
    <h1 class="text-4xl font-extrabold tracking-tight lg:text-5xl mb-8">Functionality</h1>
    <div class="flex justify-center">
        <div class="w-full max-w-3xl">
          <YouTube id="tsqj6ft1Iho" />
        </div>
      </div>
  </div>
</BaseLayout>
