---
import BaseLayout from '@/layouts/BaseLayout.astro'
import { buttonVariants } from '@/components/ui/button'
---

<BaseLayout
  title="HealthTrack"
  description="Website to showcase the program HealthTrack"
>
  <section class="container grid items-center gap-6 pb-8 pt-6 md:py-10">
    <div class="flex flex-col md:flex-row items-start gap-6 w-full">
      <div class="flex flex-col items-start gap-2 w-full md:w-1/2">
        <h1
          class="text-3xl font-extrabold leading-tight tracking-tighter md:text-4xl"
        >
          Welcome to HealthTrack! <br class="hidden sm:inline" />
        </h1>
        <p class="max-w-[480px] text-lg text-muted-foreground">
          A personalized health and wellness managment app to help you meet your fitness goals.
        </p>
        
        <!-- Introduction Section -->
        <div class="flex flex-col items-start gap-2">
          <h2 class="text-2xl font-bold leading-tight tracking-tighter md:text-3xl">
            What is HealthTrack?
          </h2>
          <p class="max-w-[480px] text-lg text-muted-foreground">
            HealthTrack is designed to empower users to achieve their fitness and well-being goals. It combines fitness tracking, health metrics moniting, wellness resocues, and community suport, all in one intutitive platform.
          </p>
        </div>

        <!-- Benefits Section -->
        <div class="flex flex-col items-start gap-2">
          <h2 class="text-2xl font-bold leading-tight tracking-tighter md:text-3xl">
            Benefits of Using HealthTrack
          </h2>
          <ul class="max-w-[480px] text-lg text-muted-foreground list-disc pl-5">
            <li>Fitness tracking for activites like workouts</li>
            <li>Calorie tracking tools to see what you need</li>
            <li>Future workout planning tools to help you plan ahead</li>
            <li>Community support through challenges for motivation and guidance</li>
          </ul>
        </div>

        <!-- Features Section -->
        <div class="flex flex-col items-start gap-2">
          <h2 class="text-2xl font-bold leading-tight tracking-tighter md:text-3xl">
            Key Features
          </h2>
          <ul class="max-w-[480px] text-lg text-muted-foreground list-disc pl-5">
            <li>Activity Tracking</li>
            <li>Health Metric Monitoring</li>
            <li>Access to Wellness Resorcess</li>
            <li>Community Engagement</li>
          </ul>
        </div>
      </div>

      <!-- Image Section -->
      <div class="flex-shrink-0 w-full md:w-1/3">
        <img src="/HealthTrack/launchPage.png" alt="HealthTrack" class="w-full max-h-[800px] object-cover rounded-lg shadow-lg">
      </div>
    </div>

    </div>
  </section>
</BaseLayout>
